<div  class="accordion" id="accordionActivities">
    <!-- Activity Task -->
    <div class="accordion-item">
      <div id="activityContent" class="accordion-collapse collapse show" aria-labelledby="activityHeading" data-bs-parent="#accordionActivities">
        <div class="accordion-body" style="background-color: #f0f8ff; border-left: 4px solid #007bff; padding: 15px; border-radius: 5px;">
            <i class="fa-solid fa-list-check" aria-hidden="true"></i> <b>Activity</b> {{include.content}}</div>
        </div>
      </div>
    </div>